.page-header {
    box-sizing: border-box;
    width: 100%;

    padding: 2px 0 4px 15px;

    background-color: #ffd0cd;
    border-bottom: #e60012 1px solid;


}

.page-name-text {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Noto Sans HK', Verdana, Arial, sans-serif;
    /* font-family: 'Fira Sans', Verdana, Arial, sans-serif; */
    font-size: 16pt;
    font-weight: 500;
    letter-spacing: 1px;
    /* color: white; */
    line-height: normal;
}