.carousel-caret-wrapper {
    cursor: pointer;
    position: absolute;
    height: 50%;
    border-radius: 50%;
    z-index: 1;

    transition: transform 0.4s ease;
}


/* hover styles */
/* hardware acceleration? */
/* .carousel-caret-wrapper.caret-left {
    left: 0;
    transform: translate3d(-100%,0, 0);
}
.carousel-caret-wrapper.caret-right {
    right: 0;
    transform: translate3d(100%,0, 0);
}
.carousel-container:hover .carousel-caret-wrapper.caret-left {
    transform: translate3d(-60%, 0, 0);
}
.carousel-container:hover .carousel-caret-wrapper {
    transform: translate3d(60%, 0, 0);
} */
.carousel-caret-wrapper.caret-left {
    left: 0;
    transform: translateX(-100%);
}
.carousel-caret-wrapper.caret-right {
    right: 0;
    transform: translateX(100%);
}
.carousel-container:hover .carousel-caret-wrapper.caret-left {
    transform: translateX(-60%);
}
.carousel-container:hover .carousel-caret-wrapper {
    transform: translateX(60%);
}
.carousel-caret-wrapper:hover {
    box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.6);
}
.carousel-caret-wrapper:hover .circle {
    fill: white;
    fill-opacity: 0.8;
}
.carousel-caret-wrapper:hover .caret {
    fill: black;
    fill-opacity: 0.85;
}
/* hover styles end */


/* caret */
.carousel-caret-container {
    overflow: hidden;
    height: 100%;
    border-radius: 50%;
}

svg {
    height: 100%;
    width: auto;    
    border-radius: 100px;
}
.circle, .caret {
    transition: all .1s ease-in-out;
}
.circle {
    fill: black;
    fill-opacity: 0.75
}

.caret {
    fill: white;
    fill-opacity: 1;
}
