.flex {
    display: flex;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-end {
    justify-content: flex-end;
}
.wrap {
    flex-wrap: wrap;
}
